*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #405959;
    height: 100vh;

}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
   font-family: sans-serif;
}

.calculator{
    /* height: 90vh; */
    width: 400px;
    background-color: #302f2f;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(38, 38, 38, 0.3);
    padding: 20px;
    border: 2px solid #666;
}

#display{
    width: 100%;
    height: 70px;
    border-radius: 6px;
    font-size: 22px;
    text-align: right;
    border: none;
    background-color: rgba(167, 161, 161, 0.877);
    margin-bottom: 15px;
    
}


.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color:rgb(37, 35, 35);
    border-radius: 12px;
    border:2px solid #453d3d ;
    margin-top: 12px;
    padding: 5px;
}

button{
    height: 50px;
    font-size: 25px;
    background: #423f3f;
    color: #fff;
    border-radius: 6px;
    border:none ;
    transition: 0.2s;
    
    
}
 
button:hover{
    background: #666;
}
.operator{
    background-color: rgb(175, 117, 8);

}
.operator:hover{
    background-color: #c79647;
}

.clear{
    background-color: rgb(173, 10, 10);
}
.clear:hover{
    background-color: rgb(230, 73, 73) !important;
}

.eqal{
    background-color: #28a745;
    grid-column: span 2;
}

.eqal:hover{
    background-color: #4ebd68 !important;
}

@media screen and (max-width:350px) {
    .calculator{
      width: 100%;
      padding: 10px;
    }

}
